table {
    overflow: auto;
    max-height: 500px;
    width: 100%;
  }

  table th{
    color: #014E72;
  text-align: center;
  padding-bottom: 5PX;
  border: 1px solid #014E72;

}

table tr,td{
  text-align: center;
  padding-top: 5px;
  border:1px solid #014E72;
 
}